/* input.module.css */

.input {
    display: flex;
    align-items: center;
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff98;
    font-size: 22px;
    color: #282828;
    width: 100%;
    max-width: 60vw;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 10px rgba(46, 0, 79, 0.254);
  }
  
  .input input {
    flex: 1;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    padding: 10px;
    color: #070707;
    font-size: 18px;
    font-weight: 600;
  }

  
  .input input::placeholder {
    color: #888;
    font-size: 18px;
  }
  
  .input button {
    background-color: #005e65;
    color: #ffffff;
    font-weight: 800;
    font-size: 16px;
    /* border: 1px solid #44c57c; */
    border: none;
    padding: 18px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 70px;
  }
  