/* todo-item.module.css */
.toDoCard {
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff47;
  color: #6f6f6f;
  font-weight: 600;
  font-size: 22px;
  padding: 18px;
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(46, 0, 79, 0.254);
  margin: 15px;
  min-width: 50vw;
  max-width: 50vw;
  word-wrap: break-word;
}

.cardCompleted {
  text-decoration: line-through;
  color: #595959;
  background-color: #7070706e;
  box-shadow: 0px 1px 1px rgba(46, 0, 79, 0.254);
}

.task {
  flex: 1;
}

.card input[type="checkbox"] {
  margin-right: 10px;
}

.editButton {
  margin: 5px 15px 5px ;
  font-size: 22px;
  cursor: pointer;
}

.editButton::hover {
  transform:translateY(-2px) ;
  text-shadow: 0 2px 2px  rgba(46, 0, 79, 0.254);
}

.delButton {
  background-color: #fc6a6a34;
  color: #fff;
  border: solid 1px red;
  /* padding: 6px 10px; */
  border-radius: 3px;
  cursor: pointer;
  min-width: 30px;
  box-shadow: 0px 3px 10px rgba(46, 0, 79, 0.254);
  padding: 24px;
}

.completed {
  background-color: #1cb273;
}